@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=WindSong:wght@400;500&display=swap');


:root {
    --color1: rgb(230, 83, 60);
    --color2: rgb(255, 255, 255);
    --color3: rgba(255, 255, 255, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

main {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(17, 17, 17));
}

/* shared styles */
.nav-bar, .banner, .habit-section, .run-section, .training-section, .team-section {
    width: 73.6%;
    margin: 0 auto;
}

.habit-title, .run-title, .training-title, .team-title, .bmi-title {
    color: var(--color2);
    font-size: 3rem;
    font-weight: 900;
}

.habit-card-title, .team-card-title {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.habit-text, .habit-card-text, .run-text, .training-text, .team-text, .team-card-text, .footer-column1-text, .bmi-text, .calculator-text, tbody {
    color: rgba(255, 255, 255, 0.5);
    font-size: .88rem;
    font-weight: 400;
}

.btn-primary {
    background-color: var(--color1);
    border: none;
    border-radius: 42px;
    margin-right: 14px;
    font-size: 1.125rem;
    color: var(--color2);
    font-weight: 600;
    padding: 16px;
}

/* header styles */
.header {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(41, 41, 41), rgb(17, 17, 17) 90%);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.6rem;
}

.menu-bars {
    visibility: hidden;
}

.nav-title {
    color: var(--color1);
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
    padding: 4px;
}

.nav-links button {
    background-color: var(--color1);
    border: none;
    color: var(--color2);
    font-weight: 600;
    border-radius: 46px;
    padding: 10px;
}

.nav-links a:last-of-type {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--color2);
    font-weight: 400;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 6rem;
}

.banner-title {
    font-size: 4.8rem;
    color: var(--color2);
    font-weight: 900;
}

.shape-span {
    font-family: "WindSong", cursive;
    font-weight: 500;
    line-height: 0;
}

.banner-text {
    font-size: 1rem;
    color: var(--color3);
    font-weight: 400;
}

.banner-download-btn {
    width: 46%;
    font-size: 1.125rem;
    color: var(--color2);
    font-weight: 600;
    padding: 16px;
}

.banner-join-btn {
    width: 46%;
}

.banner-join-btn-mobile {
    display: none;
}

.banner-download-btn {
    background: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
}

.banner-visual-content {
    width: 35%;
    margin-top: 2rem;
}

.banner-rectangle1 {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: relative;
    left: -105px;
    top: -165px;
}

.circle {
    background-color: var(--color1);
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.play-btn {
    visibility: hidden;
}

.tutorial-title {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}

.tutorial-text {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}

.tutorial {
    text-align: start;
}

.banner-rectangle2 {
    text-align: start;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 15px;
    position: relative;
    left: 225px;
    bottom: 550px;
}

.workout-title {
    color: var(--color2);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
}

.workout-text {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
    font-weight: 400;
}


/* habit section styles */
.habit-section {
    margin-top: -95px;
    text-align: center;
}

.habit-title {
    font-weight: 900;
    margin-bottom: 14px;
}

.habit-text {
    margin-bottom: 54px;
}

.habit-card-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.habit-card {
    width: 272px;
}

.habit-card-image {
    width: 170px;
    border: 4px solid rgb(94, 93, 93);
    border-radius: 100%;
    margin-bottom: 30px;
}

.habit-card-text {
    width: 80%;
    margin: 0 auto;
}



/* run section styles */
.run-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 40px 35px 40px 56px;
}

.run-intro {
    width: 38%;
}

.run-image {
    width: 400px;
    height: 350px;
    object-fit: none;
    object-position: 69% 33%;
    border-radius: 18px;
}

.run-title {
    padding-bottom: 14px;
}

.run-text {
    padding-bottom: 34px;
}

.run-btn {
    width: 224px;
}


/* training section styles  */
.training-section {
    padding-top: 100px;
}

.training-intro {
    width: 70%;
}    

.training-title {
    padding-bottom: 14px;
}    

.training-text {
    padding-bottom: 58px;
}    

.training-card {
    width: 100%;
    height: 200px;
}

.training-card-container1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1.2fr;
}

.training-card-container2 {
    display: grid;
    grid-template-columns: 1.8fr 1.3fr 1.9fr;
}

.training-card1 {
    background-image: url(../assets/exercise1.jpg);
    background-color: rgba(6, 255, 210, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.training-card2 {
    background-image: url(../assets/exercise2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.training-card3 {
    background-image: url(../assets/exercise3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.training-card4 {
    background-image: url(../assets/exercise4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.training-card5 {
    background-image: url(../assets/exercise5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(66, 255, 0, 0.3);
    background-blend-mode: overlay;
}

.training-card6 {
    background-image: url(../assets/exercise6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;
    background-color: rgba(0, 71, 255, 0.3);
    
}

.training-card p {
    color: rgb(255, 255, 255);
    font-size: .88rem;
    font-weight: 500;
}

.training-card1 p, .training-card3 p, .training-card5 p, .training-card6{
    padding: 160px 0 0 30px;
}

.training-card2 p {
    padding: 30px 0 0 30px;
}

.training-card4 p {
    text-align: right;
    padding: 30px 30px 0 0;
}


/* BMI section styles  */
.bmi-intro {
    text-align: center;
    padding: 88px 0;
}

.bmi-title {
    padding-bottom: 14px;
}

.bmi-container {
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 52px;
}

.chart-title, .calculator-title {
    color: var(--color2);
    font-size: 1.75rem;
    font-weight: 900;
}

.chart-title {
    padding: 52px 0;
}

.calculator-title {
    padding: 49px 0 14px 0;
}

.calculator-text {
    padding-bottom: 34px;
}

.bmi-chart {
    width: 25%;
}

.bmi-calculator {
    width: 45%;
}

thead {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px 20px;
    border: 1px solid rgb(89, 87, 87);
}

.calculator-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.calculator-form * {
    height: 48px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 15px;
}

.calculator-form *::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
}

#factor {
    grid-column: 1 / span 2;
    margin-bottom: 34px;
}   

.calculate-btn {
    width: 224px;
    height: 54px;
    background-color: var(--color1);
    border: none;
    border-radius: 42px;
    margin-right: 14px;
    font-size: 1.125rem;
    color: var(--color2);
    font-weight: 600;
    padding: 0 16px;
}


/* team section styles  */
.team-section {
    padding: 88px 0;
}

.team-intro {
    text-align: center;
    margin-bottom: 58px;
}

.team-title {
    padding-bottom: 14px;
}

.team-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.team-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-card1 {
    background-image: url(../assets/trainer1.png);
}

.team-card2 {
    background-image: url(../assets/trainer2.png);
}

.team-card3 {
    background-image: url(../assets/trainer3.png);
}

.team-card4 {
    background-image: url(../assets/trainer4.png);
}

.team-card5 {
    background-image: url(../assets/trainer5.png);
}

.team-card6 {
    background-image: url(../assets/trainer6.png);
}

.team-card1, .team-card2, .team-card3, .team-card4, .team-card5, .team-card6 {
    height: 272px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
}

.team-card-title, .team-card-text {
    padding-left: 25px;
}

.team-card-text {
    padding-bottom: 25px;
}

/* footer styles  */
.footer {
    background: rgb(34, 34, 34);;
}

.footer-info {
    width: 73.6%;
    margin: 0 auto;
}

.footer-column-container {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    padding-top: 65px;
    padding-bottom: 80px;
}

.footer-column1 {
    width: 40%;
}

.footer-column1-title {
    color: rgb(230, 83, 60);
    font-size: 4.4rem;
    font-weight: 800;
    padding-bottom: 20px;
}

.footer-2-3-title {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer-2-3-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 20px;
}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    padding: 35px 0;
}


/* styles for responsiveness */
@media screen and (max-width: 576px) {
    /* shared styles  */
    .habit-title, .run-title, .training-title, .team-title, .bmi-title {
        font-size: 2rem;
    }

    .banner-description,
    .banner-visual-content,
    .habit-section,
    .run-section,
    .training-section,
    .bmi-intro,
    .bmi-chart,
    .bmi-calculator,
    .team-section,
    .footer-info {
        width: 90%;
        margin: 0 auto;
    }

    main {
        position: relative;
    }
    
    
    /* header styles */
    .nav-bar {
        width: 90%;
    }
    
    .nav-links {
        display: none;
    }

    .menu-bars {
        visibility: visible;
        color: var(--color2);
        font-size: 1.5rem;
    }
    
    .banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    
    .banner-title {
        margin-top: 51px;
        width: 80%;
        font-size: 2.25rem;
    }
    
    .banner-text {
        width: 80%;
    }

    .banner-join-btn {
        display: none;
    }
    
    .banner-join-btn-mobile {
        width: 46%;
        display: inline;
    }

    .banner-visual-content {
        width: 65%;
        margin: 0 auto;
    }

    .banner-image {
        width: 300px;
    }
    
    .banner-rectangle1 {
        left: -17px;
        top: -290px;
    }
    
    .tutorial-title {
        font-size: 1.125rem;
    }
    
    .tutorial-text {
        font-size: .75rem;
    }
    
    .circle {
        width: 30px;
        height: 30px;
    }
    
    .play-btn {
        visibility: visible;
        color: var(--color2);
        padding: 8.5px;
    }
    
    .banner-rectangle2 {
        padding: 12px 18px;
        left: 165px;
        bottom: 545px;
    }
    
    .workout-title {
        font-size: 1.88rem;
    }
    
    .workout-text {
        font-size: .61rem;
    }
    
    /* habit section styles */
    .habit-section {
        margin-top: -235px;
    }
    
    .habit-card-container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 25px;
        row-gap: 40px;
        padding-bottom: 66px;
    }
    
    .habit-card {
        width: auto;
    }
    
    /* run section styles  */
    .run-section {
        flex-direction: column;
        gap: 30px;
        padding: 40px 0;
    }
    .run-intro {
        width: 81%;
        margin: 0 auto;
    }
    
    .run-btn {
        width: 100%;
    }
    
    .run-image {
        width: 81%;
        height: auto;
    }

    /* training section styles  */
    .training-section {
        padding-top: 66px;
    }

    .training-intro {
        width: 100%;
    }

    .training-card3, .training-card6 {
        display: none;
    }

    .training-card-container1 {
        grid-template-columns: 1fr 1fr;
    }

    .training-card-container2 {
        grid-template-columns: .9fr 1.1fr;
    }

    .training-card {
        height: 135px;
    }

    .training-card4 p {
        text-align: start;
    }

    .training-card1 p, .training-card4 p, .training-card5 p, .training-card6{
        padding: 95px 0 0 25px;
    }

    /* BMI section styles  */
    .bmi-container {
        flex-direction: column;
        gap: 42px;
    }

    .bmi-intro {
        text-align: left;
        padding: 66px 0;
    }

    .chart-title, .calculator-title {
        font-size: 1rem;
    }

    .chart-title {
        padding: 34px 0 23px 0;
    }

    .calculator-form *{
        box-sizing: border-box;
        width: 100%;
    }

    /* team section styles  */
    .team-section {
        padding: 66px 0;
    }

    .team-column:first-of-type {
        display: none;
    }

    .team-card-container {
        grid-template-columns: 1fr;
    }
    
    /* footer styles  */
    .footer-column-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-column1 {
        width: 100%;
    }
}





/* styles for medium screen sized devices */
@media screen and (min-width: 576px) and (max-width: 993px) {
    .nav-bar,
    .habit-section,
    .run-section,
    .training-section,
    .bmi-intro,
    .bmi-chart,
    .bmi-calculator,
    .team-section,
    .footer-info {
        width: 92%;
        margin: 0 auto;
    }

    /* header styles  */
    .nav-links a {
        font-size: 1rem;
    }

    .banner {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .banner-description, .banner-visual-content {
        width: 100%;
        margin: 0;
    }

    .banner-description {
        padding-top: 75px;
    }

    .banner-visual-content {
        width: 65%;
        margin: 0 auto;
    }

    .banner-rectangle1 {
        left: -38px;
        top: -230px;
    }

    .banner-rectangle2 {
        left: 195px;
        bottom: 615px;
    }


    /* habit section styles  */
    .habit-section {
        margin-top: -100px;
    }

    .habit-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 54px;
    }

    .habit-card {
        margin: auto;
    }

    
    /* run section styles  */
    .run-intro {
        width: 50%;
    }

    .run-title {
        font-size: 2rem;
    }

    .run-image {
        width: 250px;
        height: 320px;
        object-position: 66% 33%;
    }


    /* training section styles  */
    .training-section {
        padding-top: 72px;
    }
    
    .training-intro {
        width: 100%;
    }


    /* BMI section styles  */
    .bmi-intro {
        padding: 68px 0 46px 0;
    }

    .bmi-container {
        flex-direction: column;
        gap: 62px;
    }

    .chart-title {
        padding: 34px 0 46px 0;
    }


    /* team section styles  */
    .team-section {
        padding: 72px 0;
    }

    /* footer styles  */
    .footer-column-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 100px;
        column-gap: 50px;
        padding-bottom: 70px;
    }

    .footer-column1 {
        width: 70%;
        grid-column: 1 / span 2;
    }

    .footer-column2-3 {
        width: 100%;
    }
}